<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="language" content="en-US"
        <meta name="description" content="game web application">
        <meta name="keywords" content="games, snake, arcade">
        <meta name="author" content="Ethan Sledzinski, Thomas Thompson, Andrew Sheldrick, Scott Okalski">
        <meta name="viewpoints" content="width=device-width, intial-scale=1.0">
        <title>Gamer God</title>
        <link rel="shortcut icon" href="../public/images/Gamer_God.png" type="png">
        <script src="https://kit.fontawesome.com/0f174da1e7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/stylesheet1.css">
        <link rel="stylesheet" href="../public/css/navsheet.css"
    </head>

    <body>
        <header id="page_header">
        <nav>
            <div class="navbar">
                <div class="container0 nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>

                    <a href="/">
                        <div class="top-logo">
                            <span>Gamer</span>
                            <img src="../public/images/Gamer_god_cross.png" />
                            <span>God</span>
                        </div>
                    </a>
                    <div class="menu-items ">
                        <h2>What Game Would You Like To Play?</h2>
                        <li></li><a id="mnav " href="/games/towerdefense "><i
                                class="fa-solid fa-tower-observation "></i>Tower
                            Defense</a></li>
                        <li></li><a id="mnav " href="/games/retroracing "><i class="fa-solid fa-car "></i>Retro
                            Racing</a></li>
                        <li></li><a id="mnav " href="/games/blackjack "><i class="fa-solid fa-crown "></i>Black Jack</a>
                        </li>
                    </div>
                </div>
            </div>
            <!-- <img id="logo1" src="../public/images/Gamer_God.png" alt="trophy image"> -->


        </header>

        <br />
        <main id="page_main_content">
            <div id="PygameFrame">
                <div>
                <iframe src="<%= frameSource %>"
                </div>
            </div>
        </main>

        <footer id="page_footer">
            <br>
            <hr>
            <p>&copy; 2022, Ethan Sledzinski, Thomas Thompson, Andrew Sheldrick, Scott Okalski</p> 
            <a href="https://www.instagram.com" aria-label="Instagram" target="_self">
                <i class="fab fa-instagram fa-1x"></i>Instagram</a>  
            <a href="https://www.facebook.com">
                <i class="fab fa-facebook fa-1x"></i>Facebook</a>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter fa-1x"></i>Twitter</a>
            <br>
            <br>
            <a href="#page_header"><button type="menu">Return To The Top Of The Page</button></a>
        </footer>
    </body>

</html>