<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="language" content="en-US"
        <meta name="description" content="game web application">
        <meta name="keywords" content="games, snake, arcade">
        <meta name="author" content="Ethan Sledzinski, Thomas Thompson, Andrew Sheldrick, Scott Okalski">
        <meta name="viewpoints" content="width=device-width, intial-scale=1.0">
        <title>Gamer God</title>
        <link rel="shortcut icon" href="../public/images/Gamer_God.png" type="png">
        <script src="https://kit.fontawesome.com/0f174da1e7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/stylesheet1.css">
        <link rel="stylesheet" href="../public/css/navsheet.css"
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>

    <body>
        <header id="page_header">
            <nav>
                <div class="navbar">
                    <div class="container0 nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <p>Gamer</p>
                    </div>
                    <div class="menu-items">
                        <h2>What Game Would You Like To Play?</h2>
                        <li></li><a id="mnav" href="/"><i class="fa-solid fa-house"></i>  Home</a></li>
                        <li></li><a id="mnav" href="/retro-racing"><i class="fa-solid fa-car"></i>  Retro Racing</a></li>
                        <li></li><a id="mnav" href="/black-jack"><i class="fa-solid fa-crown"></i>  Black Jack</a></li>
                    </div>
                    </div>
                </div>
            </nav>
            <br>
            <h1>Gamer God</h1>
            <br>
            <img id="logo "src="./public/images/Gamer_God.png" alt="trophy image">


        </header>

        <main>
            <br>
            <h2>Tower Defense Game</h2> 
            <py-script>
               print("hello world")

            </py-script>
        </main>


        <footer id="page_footer">
            <br>
            <hr>
            <p>&copy; 2022, Ethan Sledzinski, Thomas Thompson, Andrew Sheldrick, Scott Okalski</p> 
            <a href="https://www.instagram.com" aria-label="Instagram" target="_self">
                <i class="fab fa-instagram fa-1x"></i>Instagram</a>  
            <a href="https://www.facebook.com">
                <i class="fab fa-facebook fa-1x"></i>Facebook</a>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter fa-1x"></i>Twitter</a>
            <br>
            <a href="#page_header"><button type="menu">Return To The Top Of The Page</button></a>
        </footer>
    </body>

</html>