head{
    background-color: #1b1b1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #1b1b1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

h1{
    background-color: #292929;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa31a;
    border: #808080;
    border-style: groove;
    padding: 1%;
    box-shadow: 10px 10px 13px black;
    text-align: center;
    width: 18%;
    margin: 0 auto;

    
    
}

h2{
    background-color: #292929;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa31a;
    border: #808080;
    border-style: groove;
    padding: 1%;
    box-shadow: 10px 10px 13px black;
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

h3{
    background-color: #292929;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa31a;
    border: #808080;
    border-style: groove;
    padding: 1%;
    box-shadow: 10px 10px 13px black;
    text-align: center;
}

h4{
    background-color: #292929;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa31a;
    border: #808080;
    border-style: groove;
    padding: 1%;
    box-shadow: 10px 10px 13px black;
    text-align: center;
}

a{
    color: #ffa31a;
}

img{
    border:#808080;
    border-style: groove;
    text-align: center;
    width: 40%;
    display: block;
    box-shadow: 10px 10px 13px black;
    margin: 0 auto;

}

